.standings__heading-container {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 0 5px;
}

.standings__heading {
  margin: 0;
  font-size: var(--header-font);
  font-weight: 400;
}

.standings__heading-container_inactive {
  display: none;
}

.standings__link {
  color: var(--light-grey);
  transition: var(--transition);
}

.standings__link:hover {
  color: var(--font-color);
}

.standings__link_inactive {
  display: none;
}

.standings_full {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: var(--top-gap) auto var(--main-gap);
  animation: opacity 0.7s;
}

.table {
  padding: var(--padding-table);
  background: var(--second-grey);
  border-radius: var(--radius-table);
  border-spacing: 0;
  min-width: 355px;
  /* margin: 30px auto; */
}

.table__head-row {
  height: 30px;
  position: sticky;
  top: 0;
  background: #272727d9;
}

.table__header-cell {
  min-width: 35px;
  transition: var(--transition);
  font-size: 13px;
  font-weight: 300;
}

/* .table__header-cell:hover {

}

.table__header-cell_active {
  text-decoration: underline;
  color: #fff;
  padding-bottom: 5px;
} */

.table__head-row > .table__head-cell_wide {
  min-width: 150px;
}

.table__head-cell_inactive {
  display: none;
}

.table__row {
  height: 35px;
  text-align: center;
}

.table__row:nth-child(odd) {
  background: var(--table-grey);
}

.table__row .table__row_main {
  background: #535353;
}
.table__data_active {
  background-color: #c8102e1a;
}

.table__logo {
  width: 23px;
}

.table__data_non-align {
  text-align: start;
  padding-left: 12px;
  min-width: 120px;
}

.table__data_ucl {
  border-left: 2px solid #4caf50;
}

.table__data_rlg {
  border-left: 2px solid #ff5722;
}

.table__data_el {
  border-left: 2px solid #ffc107;
}

.table__data_inactive {
  display: none;
}

@media (max-width: 900px) {
  .standings_full {
    width: var(--page-width);
  }
}

