:root {
  --page-width: 95%;
  --header-font: 18px;
  --page-background: rgb(31 31 31);
  --second-grey: #272727;
  --font-color: #c1c1c1;
  --light-grey: #828282;
  --table-grey: #353434;
  --radius-table: 10px;
  --padding-table: 15px;
  --main-font: 14px;
  --transition: all 0.3s;
  --main-gap: 55px;
  --top-gap: 25px;
}

.page {
  min-height: 100vh;
  background-color: var(--page-background);
  font-family: 'Century Gothic', Arial, Helvetica, Sans-serif;
  color: var(--font-color);
  font-size: var(--main-font);
}

.page__container {
  margin: auto;
  width: var(--page-width);
  max-width: 1200px;
}


