.main {
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--main-gap);
  margin-bottom: var(--main-gap);
}

.main__container {
  display: flex;
  justify-content: center;
  /* margin: auto; */
  gap: 30px;
  /* padding-bottom: 20px; */
}
