.header {
  /* background-color: var(--second-grey); */
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translate(-50%);
  padding: 7px;
  border-radius: 15px;
}

.nav {
  /* width: var(--page-width); */
  height: 50px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  color: #c3c3c3;
  font-size: var(--header-font);
}

.nav__li:first-of-type {
  margin-right: 60px;
}
