.chart-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0 var(--main-gap);
}

.chart-list__container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
